@(passwordForm: Form[Application.PasswordChanger])

@import helper._

@main(title = "Change password") {

<img src="@routes.Assets.at("images/umflix1.jpg")">

<h1>                 Change password</h1>

@form(action = routes.Application.changeMyPassword, args = 'id -> "passwordform") {

@inputPassword(
field = passwordForm("oldPassword"),
args = '_label -> "Old password", 'placeholder -> "old password"
)

@inputPassword(
field = passwordForm("newPassword"),
args = '_label -> "New password", 'placeholder -> "new password"
)

@inputPassword(
field = passwordForm("newPasswordConfirm"),
args = '_label -> "re-enter new password", 'placeholder -> "new password"
)

<p class="buttons">
    <input type="submit">
<p>


    }

    }