
@(loginForm: Form[Application.Login])

@import helper._

@main(title = "Login : UMFlix") {
<div align="center"><img src="@routes.Assets.at("images/umflix1.jpg")" ></div>

<h1>Login: </h1>


@form(action = routes.Application.login, args = 'id -> "loginform") {

<p class="buttons">
    <a href="@routes.Application.registerForm">Register now and start watching!</a>
</p>


@inputText(
field = loginForm("name"),
args = '_label -> "UserId", 'placeholder -> "user"
)

@inputPassword(
field = loginForm("password"),
args = '_label -> "password?", 'placeholder -> "password"
)

<p class="buttons">
    <input type="submit">
<p>

    }
}
