@(title: String, isNext: Boolean)

<h1 align="center">@title</a></h1>

@if(isNext==true) {
<h2 align="center"></a>
    <iframe src="@routes.Application.getNextClip()" width="640" height="360">
    </iframe>
</h2>
} else {
<h3 align="center"></a>
    <iframe src="@routes.Application.getPreviousClip()" width="640" height="360">
    </iframe>
</h3>
}



<p class="buttons" align="center">
    <a href="@routes.Application.refreshViewNextClip(title)">Next Clip</a>
</p>

<p class="buttons" align="center">
    <a href="@routes.Application.refreshViewPrevClip(title)">Previous Clip</a>
</p>

<p class="buttons" align="center">
    <a href="@routes.Application.index">Head back to login</a>
</p>